.t-body {
    margin: 0
}

#allrecords {
    -webkit-font-smoothing: antialiased;
    background-color: none
}

#allrecords a {
    color: #ff8562;
    text-decoration: none
}

#allrecords a[href^=tel] {
    color: inherit;
    text-decoration: none
}

#allrecords ol {
    padding-left: 22px
}

#allrecords ul {
    padding-left: 20px
}

@media print {
    body, html {
        min-width: 1200px;
        max-width: 1200px;
        padding: 0;
        margin: 0 auto;
        border: none
    }
}

.t-text {
    font-family: 'AFuturaRoundBold', serif;
    font-weight: 300;
    color: #000
}

.t-text_xs {
    font-size: 15px;
    line-height: 1.55
}

.t-text_sm {
    font-size: 18px;
    line-height: 1.55
}

.t-text_md {
    font-size: 20px;
    line-height: 1.55
}

.t-text_lg {
    font-size: 22px;
    line-height: 1.55
}

.t-text_weight_plus {
    font-weight: 400
}

.t-text-impact {
    font-family: 'AFuturaRoundBold', serif;
    font-weight: 300;
    color: #000
}

.t-text-impact_xs {
    font-size: 26px;
    line-height: 1.5
}

.t-text-impact_sm {
    font-size: 32px;
    line-height: 1.35
}

.t-text-impact_md {
    font-size: 38px;
    line-height: 1.35
}

.t-text-impact_lg {
    font-size: 42px;
    line-height: 1.23
}

.t-name {
    font-family: 'AFuturaRoundBold', sans-serif;
    font-weight: 600;
    color: #000
}

.t-name_xs {
    font-size: 16px;
    line-height: 1.35
}

.t-name_sm {
    font-size: 18px;
    line-height: 1.35
}

.t-name_md {
    font-size: 20px;
    line-height: 1.35
}

.t-name_lg {
    font-size: 22px;
    line-height: 1.35
}

.t-name_xl {
    font-size: 24px;
    line-height: 1.35
}

.t-heading {
    font-family: 'AFuturaRoundBold', sans-serif;
    font-weight: 600;
    color: #000
}

.t-heading_xs {
    font-size: 26px;
    line-height: 1.23
}

.t-heading_sm {
    font-size: 28px;
    line-height: 1.17
}

.t-heading_md {
    font-size: 30px;
    line-height: 1.17
}

.t-heading_lg {
    font-size: 32px;
    line-height: 1.17
}

.t-title {
    font-family: 'AFuturaRoundBold', sans-serif;
    font-weight: 600;
    color: #000
}

.t-title_xxs {
    font-size: 36px;
    line-height: 1.23
}

.t-title_xs {
    font-size: 42px;
    line-height: 1.23
}

.t-title_sm {
    font-size: 48px;
    line-height: 1.23
}

.t-title_md {
    font-size: 52px;
    line-height: 1.23
}

.t-title_lg {
    font-size: 64px;
    line-height: 1.23
}

.t-title_xl {
    font-size: 72px;
    line-height: 1.17
}

.t-title_xxl {
    font-size: 82px;
    line-height: 1.17
}

.t-descr {
    font-family: 'AFuturaRoundBold', sans-serif;
    font-weight: 300;
    color: #000
}

.t-descr_xxs {
    font-size: 14px;
    line-height: 1.55
}

.t-descr_xs {
    font-size: 16px;
    line-height: 1.55
}

.t-descr_sm {
    font-size: 18px;
    line-height: 1.55
}

.t-descr_md {
    font-size: 20px;
    line-height: 1.55
}

.t-descr_lg {
    font-size: 22px;
    line-height: 1.55
}

.t-descr_xl {
    font-size: 24px;
    line-height: 1.5
}

.t-descr_xxl {
    font-size: 26px;
    line-height: 1.45
}

.t-descr_xxxl {
    font-size: 30px;
    line-height: 1.45;
    letter-spacing: .45
}

.t-uptitle {
    font-family: 'AFuturaRoundBold', sans-serif;
    font-weight: 600;
    color: #000;
    letter-spacing: 2.5px
}

.t-uptitle_xs {
    font-size: 12px
}

.t-uptitle_sm {
    font-size: 14px
}

.t-uptitle_md {
    font-size: 16px
}

.t-uptitle_lg {
    font-size: 18px
}

.t-uptitle_xl {
    font-size: 20px;
    letter-spacing: 2px
}

.t-uptitle_xxl {
    font-size: 22px;
    letter-spacing: 2px
}

.t-uptitle_xxxl {
    font-size: 24px;
    letter-spacing: 2px
}

@media screen and (max-width: 1200px) {
    .t-text_xs {
        font-size: 14px
    }

    .t-text_sm {
        font-size: 16px
    }

    .t-text_md {
        font-size: 18px
    }

    .t-text_lg {
        font-size: 20px
    }

    .t-text-impact_md {
        font-size: 30px
    }

    .t-descr_xxs {
        font-size: 12px
    }

    .t-descr_xs {
        font-size: 14px
    }

    .t-descr_sm {
        font-size: 16px
    }

    .t-descr_md {
        font-size: 18px
    }

    .t-descr_lg {
        font-size: 20px
    }

    .t-descr_xl {
        font-size: 22px
    }

    .t-descr_xxl {
        font-size: 22px
    }

    .t-descr_xxxl {
        font-size: 26px
    }

    .t-uptitle_md {
        font-size: 14px
    }

    .t-uptitle_lg {
        font-size: 16px
    }

    .t-uptitle_xl {
        font-size: 18px
    }

    .t-uptitle_xxl {
        font-size: 20px
    }

    .t-uptitle_xxxl {
        font-size: 22px
    }

    .t-title_xxs {
        font-size: 32px
    }

    .t-title_xs {
        font-size: 38px
    }

    .t-title_sm {
        font-size: 44px
    }

    .t-title_md {
        font-size: 48px
    }

    .t-title_lg {
        font-size: 60px
    }

    .t-title_xl {
        font-size: 68px
    }

    .t-title_xxl {
        font-size: 78px
    }

    .t-name_xs {
        font-size: 14px
    }

    .t-name_sm {
        font-size: 16px
    }

    .t-name_md {
        font-size: 18px
    }

    .t-name_lg {
        font-size: 20px
    }

    .t-name_xl {
        font-size: 22px
    }

    .t-heading_xs {
        font-size: 24px
    }

    .t-heading_sm {
        font-size: 26px
    }

    .t-heading_md {
        font-size: 28px
    }

    .t-heading_lg {
        font-size: 30px
    }
}

@media screen and (max-width: 640px) {
    .t-text_xs {
        font-size: 12px;
        line-height: 1.45
    }

    .t-text_sm {
        font-size: 14px;
        line-height: 1.45
    }

    .t-text_md {
        font-size: 16px;
        line-height: 1.45
    }

    .t-text_lg {
        font-size: 18px;
        line-height: 1.45
    }

    .t-text-impact_sm {
        font-size: 22px
    }

    .t-text-impact_md {
        font-size: 26px
    }

    .t-text-impact_lg {
        font-size: 28px
    }

    .t-descr_xs {
        font-size: 12px;
        line-height: 1.45
    }

    .t-descr_sm {
        font-size: 14px;
        line-height: 1.45
    }

    .t-descr_md {
        font-size: 16px;
        line-height: 1.45
    }

    .t-descr_lg {
        font-size: 18px;
        line-height: 1.45
    }

    .t-descr_xl {
        font-size: 20px;
        line-height: 1.4
    }

    .t-descr_xxl {
        font-size: 20px
    }

    .t-descr_xxxl {
        font-size: 22px
    }

    .t-uptitle_xs {
        font-size: 10px
    }

    .t-uptitle_sm {
        font-size: 10px
    }

    .t-uptitle_md {
        font-size: 12px
    }

    .t-uptitle_lg {
        font-size: 14px
    }

    .t-uptitle_xl {
        font-size: 16px
    }

    .t-uptitle_xxl {
        font-size: 18px
    }

    .t-uptitle_xxxl {
        font-size: 20px
    }

    .t-title_xxs {
        font-size: 28px
    }

    .t-title_xs {
        font-size: 30px
    }

    .t-title_sm {
        font-size: 30px
    }

    .t-title_md {
        font-size: 30px
    }

    .t-title_lg {
        font-size: 30px
    }

    .t-title_xl {
        font-size: 32px
    }

    .t-title_xxl {
        font-size: 36px
    }

    .t-name_xs {
        font-size: 12px
    }

    .t-name_sm {
        font-size: 14px
    }

    .t-name_md {
        font-size: 16px
    }

    .t-name_lg {
        font-size: 18px
    }

    .t-name_xl {
        font-size: 20px
    }

    .t-heading_xs {
        font-size: 22px
    }

    .t-heading_sm {
        font-size: 24px
    }

    .t-heading_md {
        font-size: 24px
    }

    .t-heading_lg {
        font-size: 26px
    }
}

@media screen and (max-width: 480px) {
    .t-title_xl {
        font-size: 30px
    }

    .t-title_xxl {
        font-size: 30px
    }
}

.t-records {
    -webkit-font_smoothing: antialiased;
    background-color: none
}

.t-records a {
    color: #ff8562;
    text-decoration: none
}

.t-records a[href^=tel] {
    color: inherit;
    text-decoration: none
}

.t-records ol {
    padding-left: 22px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-records ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px
}

.t-cover {
    height: 700px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed;
    overflow: hidden
}

.t-cover__carrier {
    height: 700px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-attachment: fixed
}

.t-cover__carrier.loading {
    opacity: 0
}

.t-cover__carrier[data-content-cover-bg=""].loading {
    opacity: 1 !important
}

.t-cover__carrier.loaded {
    opacity: 1;
    transition: opacity 400ms
}

@media screen and (max-device-width: 1024px) {
    .t-cover {
        background-attachment: scroll
    }

    .t-cover__carrier {
        background-attachment: scroll
    }
}

@media print {
    .t-cover {
        background-attachment: scroll
    }

    .t-cover__carrier {
        background-attachment: scroll
    }
}

.t-cover__filter {
    height: 700px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.t-cover .t-container, .t-cover .t-container_100, .t-cover .t-container_10, .t-cover .t-container_8 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.t-cover__wrapper {
    height: 700px;
    display: table-cell;
    width: 1200px
}

.t-cover__wrapper span.space {
    display: inline-block;
    height: 100%;
    width: 1px
}

@media screen and (max-width: 640px) {
    .t-cover {
        height: 400px;
        background-attachment: fixed
    }

    .t-cover__carrier {
        background-attachment: scroll !important;
        background-size: cover;
        background-position: center center
    }

    .t-cover__filter {
        height: 400px
    }

    .t-cover__wrapper {
        height: 400px
    }
}

@-webkit-keyframes t-arrow-bottom {
    0% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform: translateY(-7px)
    }
    55% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform: translateY(-7px)
    }
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes t-arrow-bottom {
    0% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform: translateY(-7px)
    }
    55% {
        -moz-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
        -webkit-transform: translateY(-7px);
        -o-transform: translateY(-7px);
        transform: translateY(-7px)
    }
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

.t-cover__arrow-wrapper_animated {
    animation: t-arrow-bottom 1.7s infinite ease
}

.t-cover__arrow {
    position: absolute;
    z-index: 9;
    bottom: 40px;
    right: 0;
    left: 0;
    text-align: center
}

.t-cover__arrow-wrapper {
    display: inline-block;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    cursor: pointer
}

.t-cover__arrow-wrapper:hover {
    opacity: .7
}

.t-cover__arrow-svg {
    fill: #fff
}

@media screen and (max-width: 640px) {
    .t-cover__arrow_mobile {
        -moz-transform: scale(.7);
        -ms-transform: scale(.7);
        -webkit-transform: scale(.7);
        -o-transform: scale(.7);
        transform: scale(.7)
    }

    .t-cover__arrow {
        bottom: 14px
    }
}

.t-btn {
    display: inline-block;
    font-family: 'AFuturaRoundBold', sans-serif;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.t-btn td {
    vertical-align: middle
}

.t-btn_sending {
    opacity: .5
}

@media screen and (max-width: 640px) {
    .t-btn {
        white-space: normal;
        padding-left: 30px;
        padding-right: 30px
    }
}

.t-btn_xs {
    height: 35px;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px
}

.t-btn_sm {
    height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px
}

.t-btn_lg {
    height: 60px;
    font-size: 22px;
    padding-left: 70px;
    padding-right: 70px
}

.t-btn_xl {
    height: 80px;
    font-size: 26px;
    padding-left: 80px;
    padding-right: 80px
}

.t-btn_xxl {
    height: 100px;
    font-size: 30px;
    padding-left: 90px;
    padding-right: 90px
}

@media screen and (max-width: 640px) {
    .t-btn_sm {
        padding-left: 20px;
        padding-right: 20px
    }

    .t-btn_lg {
        font-size: 18px;
        padding-left: 40px;
        padding-right: 40px
    }

    .t-btn_xl {
        font-size: 22px;
        padding-left: 50px;
        padding-right: 50px
    }

    .t-btn_xxl {
        font-size: 26px;
        padding-left: 60px;
        padding-right: 60px
    }
}

.t-submit {
    font-family: 'AFuturaRoundBold', sans-serif;
    text-align: center;
    height: 60px;
    border: 0 none;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 60px;
    -webkit-appearance: none;
    font-weight: 700;
    white-space: nowrap;
    background-image: none;
    cursor: pointer;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    background: transparent
}

.t-submit_sending {
    opacity: .5
}

@media screen and (max-width: 640px) {
    .t-submit {
        white-space: normal;
        padding-left: 30px;
        padding-right: 30px
    }
}

.t-input {
    margin: 0;
    font-family: 'AFuturaRoundBold', sans-serif;
    font-size: 100%;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.33;
    width: 100%;
    border: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-appearance: none
}

.t-input::-moz-focus-inner {
    padding: 0;
    border: 0
}

.t-input_bbonly {
    outline: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    border-bottom: 1px solid
}

.t-input_pvis {
    padding: 26px 20px 10px 20px
}

.t-input__vis-ph {
    font-size: 16px;
    font-family: 'AFuturaRoundBold', sans-serif;
    line-height: 1;
    opacity: .5;
    position: absolute;
    left: 20px;
    top: 22px;
    height: 16px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    -webkit-transform-origin: left;
    transform-origin: left;
    pointer-events: none;
    white-space: nowrap
}

.t-input:focus ~ .t-input__vis-ph, .t-input_has-content + .t-input__vis-ph {
    -webkit-transform: translateY(-12px) scale(.7);
    transform: translateY(-12px) scale(.7)
}

.t-form_bbonly .t-input__vis-ph {
    left: 0px !important
}

.t-form_bbonly .js-error-control-box .t-input__vis-ph {
    left: 10px !important
}

.t-select {
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    height: 60px;
    padding: 0 45px 0 20px;
    font-family: 'AFuturaRoundBold', sans-serif;
    font-size: 16px;
    line-height: 1.33;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none
}

.t-select_bbonly {
    outline: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    background-color: transparent !important;
    border-radius: 0 !important
}

.t-select_bbonly option {
    color: #000;
    background-color: #fff
}

.t-select__wrapper {
    position: relative
}

.t-select__wrapper:after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none
}

.t-select::-ms-expand {
    width: 0;
    height: 0;
    opacity: 0
}

.t-select__wrapper_bbonly::after {
    right: 0px !important
}

.t-checkbox__control {
    display: block;
    position: relative;
    cursor: pointer
}

.t-checkbox__control .t-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.t-checkbox__indicator {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    border: 2px solid #000;
    box-sizing: border-box;
    margin-right: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    opacity: .6
}

.t-checkbox__indicator:after {
    content: '';
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg)
}

.t-checkbox__control .t-checkbox:checked ~ .t-checkbox__indicator {
    opacity: 1
}

.t-checkbox__control .t-checkbox:checked ~ .t-checkbox__indicator:after {
    display: block
}

.t-checkboxes__wrapper .t-checkbox__control {
    margin: 10px 0
}

.t-radio {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.t-radio__control {
    display: table;
    position: relative;
    cursor: pointer;
    margin: 0 0 10px 0
}

.t-radio__control:first-child {
    margin: 3px 0 10px 0
}

.t-radio__control:last-child {
    margin: 0 0 0 0
}

.t-radio__indicator {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    opacity: .6
}

.t-radio__indicator:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s
}

.t-radio__control .t-radio:checked ~ .t-radio__indicator:after {
    opacity: 1
}

.t-radio__control .t-radio:checked ~ .t-radio__indicator {
    opacity: 1
}

.t-inputquantity {
    width: 70px;
    text-align: center;
    margin-left: .5rem;
    margin-right: .5rem
}

.t-inputquantity__btn {
    font-size: 26px;
    cursor: pointer;
    margin-left: .5rem;
    margin-right: .5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none
}

.t-form .uploadcare-widget-button {
    background: #333;
    font-family: 'AFuturaRoundBold', sans-serif;
    line-height: 1.4;
    font-size: 14px
}

.t-form .uploadcare-widget-button:hover {
    background: #444
}

.t-input-title {
    display: block;
    vertical-align: middle;
    height: 100%;
    padding-right: 10px
}

.t-input-subtitle {
    display: block;
    vertical-align: middle;
    height: 100%;
    padding-right: 10px
}

.t-form__bottom-text {
    margin-top: 30px;
    text-align: center
}

.t-input-error {
    display: none;
    color: red;
    font-family: 'AFuturaRoundBold', serif;
    font-size: 13px;
    margin-top: 5px
}

.t-form .js-error-control-box .t-input-error {
    display: block
}

.t-form .js-error-control-box .t-input, .t-form .js-error-control-box .t-checkbox__control, .t-form .js-error-control-box .t-checkboxes__wrapper, .t-form .js-error-control-box .t-select__wrapper, .t-form .js-error-control-box .t-radio__wrapper, .t-form .js-error-control-box .uploadcare-widget {
    border: 1px solid red !important
}

.t-form .js-error-control-box .t-checkboxes__wrapper, .t-form .js-error-control-box .t-radio__wrapper, .t-form .js-error-control-box .t-checkbox__control {
    padding: 10px
}

.t-form .js-error-control-box .t-checkboxes__wrapper .t-checkbox__control {
    border: none !important;
    padding: 0
}

.t-form .js-error-control-box .t-input.t-input_bbonly {
    padding-left: 10px !important
}

.t-form__errorbox-bottom {
    display: none
}

.t-form__errorbox-wrapper {
    background: #F95D51;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'AFuturaRoundBold', serif
}

.t-form__errorbox-text {
    color: #fff;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    font-family: 'AFuturaRoundBold', serif
}

.t-form__errorbox-item {
    padding-top: 10px;
    display: none;
    font-family: 'AFuturaRoundBold', serif
}

.t-form__successbox {
    text-align: center;
    background: #62C584;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'AFuturaRoundBold', serif
}

@keyframes t-submit-spinner {
    to {
        transform: rotate(360deg)
    }
}

.t-form .t-submit {
    position: relative
}

.t-form .t-submit.t-btn_sending {
    color: transparent !important
}

.t-form .t-btn_sending:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: t-submit-spinner .6s linear infinite
}

.t-btntext {
    font-family: 'AFuturaRoundBold', sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    display: inline-block
}

.t-btntext_sm {
    font-size: 16px
}

.t-btntext_lg {
    font-size: 24px
}

.t-uppercase.t-btntext {
    font-size: 16px
}

.t-uppercase.t-btntext_sm {
    font-size: 14px
}

.t-uppercase.t-btntext_lg {
    font-size: 20px
}

.t-btntext:after {
    content: "\00a0→";
    font-family: Arial, Helvetica, sans-serif
}

@media screen and (max-width: 640px) {
    .t-btntext_lg {
        font-size: 20px
    }
}

@media screen and (max-width: 1200px) {
    .t-screenmin-1200px {
        display: none
    }
}

@media screen and (max-width: 980px) {
    .t-screenmin-980px {
        display: none
    }
}

@media screen and (max-width: 640px) {
    .t-screenmin-640px {
        display: none
    }
}

@media screen and (max-width: 480px) {
    .t-screenmin-480px {
        display: none
    }
}

@media screen and (max-width: 320px) {
    .t-screenmin-320px {
        display: none
    }
}

@media screen and (min-width: 321px) {
    .t-screenmax-320px {
        display: none
    }
}

@media screen and (min-width: 481px) {
    .t-screenmax-480px {
        display: none
    }
}

@media screen and (min-width: 641px) {
    .t-screenmax-640px {
        display: none
    }
}

@media screen and (min-width: 981px) {
    .t-screenmax-980px {
        display: none
    }
}

@media screen and (min-width: 1201px) {
    .t-screenmax-1200px {
        display: none
    }
}

.t-hidden {
    display: none
}

.t-opacity_50 {
    filter: alpha(opacity=50);
    KHTMLOpacity: .5;
    MozOpacity: .5;
    opacity: .5
}

.t-opacity_70 {
    filter: alpha(opacity=70);
    KHTMLOpacity: .7;
    MozOpacity: .7;
    opacity: .7
}

.t-uppercase {
    text-transform: uppercase
}

.t-align_center {
    text-align: center
}

.t-align_left {
    text-align: left
}

.t-align_right {
    text-align: right
}

.t-margin_auto {
    margin-left: auto;
    margin-right: auto
}

.t-valign_middle {
    vertical-align: middle
}

.t-valign_top {
    vertical-align: top
}

.t-valign_bottom {
    vertical-align: bottom
}

.t-margin_left_auto {
    margin-right: 0;
    margin-left: auto
}

.yashare-style .b-share-btn__facebook, .yashare-style .b-share-btn__twitter, .yashare-style .b-share-btn__vkontakte {
    background-color: transparent !important
}

.yashare-style .b-share__link {
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important
}

.yashare-style-black-white .b-share-btn__wrap {
    background-color: #000 !important;
    padding: 5px !important
}

.yashare-style-transp-white .b-share-btn__wrap {
    padding: 5px !important
}

.yashare-style-transp-white .b-share-counter {
    color: #fff;
    font-weight: 700
}

.yashare-style-white-black .b-share-btn__wrap {
    background-color: #fff !important;
    padding: 5px !important
}

.yashare-style-white-black .b-share-icon {
    background-image: url(../../static.tildacdn.com/img/b-share_counter_large_white.png) !important
}

.yashare-style-transp-black .b-share-btn__wrap {
    padding: 5px !important
}

.yashare-style-transp-black .b-share-icon {
    background-image: url(../../static.tildacdn.com/img/b-share_counter_large_white.png) !important
}

.yashare-style-transp-black .b-share-counter {
    color: #000;
    font-weight: 700
}

.ya-share2 ul {
    padding-left: 0px !important
}

.carousel {
    position: relative
}

.carousel ol {
    padding-left: 0px !important
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    line-height: 1
}

.carousel-inner .widthauto {
    width: auto;
    max-width: 100%;
    vertical-align: middle
}

.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    display: block
}

.carousel-inner > .active {
    left: 0
}

.carousel-inner > .next, .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%
}

.carousel-inner > .next {
    left: 100%
}

.carousel-inner > .prev {
    left: -100%
}

.carousel-inner > .next.left, .carousel-inner > .prev.right {
    left: 0
}

.carousel-inner > .active.left {
    left: -100%
}

.carousel-inner > .active.right {
    left: 100%
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    opacity: .2;
    filter: alpha(opacity=20)
}

.carousel-control.right {
    right: 0;
    left: auto
}

.carousel-control .carousel-control-left {
    position: absolute;
    top: 48%;
    z-index: 5;
    display: inline-block;
    left: 20%;
    height: 34px;
    width: 21px;
    background: url(../../static.tildacdn.com/img/aboutSliderControls.png) no-repeat
}

.carousel-control .carousel-control-left-white {
    position: absolute;
    top: 48%;
    z-index: 5;
    display: inline-block;
    left: 20%;
    height: 34px;
    width: 21px;
    background: url(../../static.tildacdn.com/img/aboutSliderControls_white.png) no-repeat
}

.carousel-control .carousel-control-right {
    position: absolute;
    top: 48%;
    z-index: 5;
    display: inline-block;
    right: 20%;
    height: 34px;
    width: 21px;
    background: url(../../static.tildacdn.com/img/aboutSliderControls.png) no-repeat;
    background-position: left bottom
}

.carousel-control .carousel-control-right-white {
    position: absolute;
    top: 48%;
    z-index: 5;
    display: inline-block;
    right: 20%;
    height: 34px;
    width: 21px;
    background: url(../../static.tildacdn.com/img/aboutSliderControls_white.png) no-repeat;
    background-position: left bottom
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none
}

.carousel-indicators.dotsbottom {
    bottom: -60px
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    margin-left: 5px;
    margin-right: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    border: none;
    border-radius: 10px
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 0;
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: transparent
}

.carousel-indicators li.white {
    background-color: #fff
}

.carousel-indicators li.white.active {
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent
}

.carousel-caption-imgs h6 {
    font-family: 'AFuturaRoundBold', serif;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding-top: 28px;
    padding-bottom: 0;
    text-align: center
}

.carousel-caption-imgs p {
    font-family: 'AFuturaRoundBold', serif;
    color: #000;
    font-size: 14px;
    line-height: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center
}

.carousel-title {
    font-family: 'AFuturaRoundBold', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 28px;
    padding-top: 36px;
    padding-bottom: 14px;
    text-align: center
}

.carousel-descr {
    font-family: 'AFuturaRoundBold', serif;
    color: #000;
    font-size: 14px;
    line-height: 28px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center
}

@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 20px
    }
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " "
}

.clearfix:after {
    clear: both
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto
}

@media screen and (max-width: 960px) {
    .carousel-control .carousel-control-left {
        left: 10%
    }

    .carousel-control .carousel-control-left-white {
        left: 10%
    }

    .carousel-control .carousel-control-right {
        right: 10%
    }

    .carousel-control .carousel-control-right-white {
        right: 10%
    }
}

.t-tildalabel {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 70px;
    font-family: Arial;
    font-size: 14px
}

.t-tildalabel:hover .t-tildalabel__wrapper {
    opacity: 1
}

.t-tildalabel_white {
    background-color: #fff;
    color: #000
}

.t-tildalabel_gray {
    background-color: #eee;
    color: #000
}

.t-tildalabel__wrapper {
    display: table;
    height: 30px;
    width: 270px;
    margin: 0 auto;
    padding-top: 20px;
    opacity: .4
}

.t-tildalabel__txtleft {
    display: table-cell;
    width: 120px;
    height: 30px;
    vertical-align: middle;
    text-align: right;
    padding-right: 12px;
    font-weight: 300;
    font-size: 12px
}

.t-tildalabel__wrapimg {
    display: table-cell;
    width: 30px;
    height: 30px;
    vertical-align: middle
}

.t-tildalabel__img {
    width: 30px;
    height: 30px;
    vertical-align: middle
}

.t-tildalabel__txtright {
    display: table-cell;
    width: 120px;
    height: 30px;
    vertical-align: middle;
    padding-left: 12px;
    font-weight: 500;
    letter-spacing: 2px
}

.t-tildalabel__link {
    color: #fff;
    text-decoration: none;
    vertical-align: middle
}

.t-tildalabel_white .t-tildalabel__link, .t-tildalabel_gray .t-tildalabel__link {
    color: #000
}

.t-tildalabel-free {
    padding: 35px 0 45px;
    height: auto;
    text-align: center
}

.t-tildalabel-free__main {
    max-width: 340px;
    display: block;
    margin: 0 auto;
    line-height: 1.4;
    letter-spacing: .2px;
    color: inherit;
    opacity: .4
}

.t-tildalabel-free__links-wr {
    display: table;
    margin: 30px auto 0
}

.t-tildalabel-free__txt-link {
    display: table-cell;
    padding: 0 15px;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    opacity: .25
}

.t-tildalabel-free__txt-link:hover, .t-tildalabel-free__main:hover {
    opacity: 1
}

@media screen and (max-width: 640px) {
    .t-tildalabel-free__txt-link {
        display: block;
        padding: 5px 30px
    }

    .t-tildalabel-free__main {
        opacity: .7
    }

    .t-tildalabel-free__txt-link {
        opacity: .4
    }
}

.t-carousel {
    position: relative
}

.t-carousel__inner {
    position: relative;
    overflow: hidden;
    margin: 0 auto
}

.t-carousel__slides {
    position: relative
}

.t-carousel__inner > .t-carousel__item {
    position: relative;
    display: none;
    -webkit-transition: 0 ease-in-out left;
    -moz-transition: 0 ease-in-out left;
    -o-transition: 0 ease-in-out left;
    transition: 0 ease-in-out left
}

.t-carousel__inner > .t-carousel__item.t-carousel__animation_fast {
    -webkit-transition: .3s ease-in-out left;
    -moz-transition: .3s ease-in-out left;
    -o-transition: .3s ease-in-out left;
    transition: .3s ease-in-out left
}

.t-carousel__inner > .t-carousel__item.t-carousel__animation_slow {
    -webkit-transition: .6s ease-in-out left;
    -moz-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left
}

.t-carousel__item__wrapper {
    position: relative;
    margin: 0 auto
}

.t-carousel__item__img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.t-carousel_cover .t-carousel__item__img {
    background-size: cover
}

.t-carousel__inner > .active, .t-carousel__inner > .next, .t-carousel__inner > .prev {
    display: block
}

.t-carousel__inner > .active {
    left: 0
}

.t-carousel__inner > .next, .t-carousel__inner > .prev {
    position: absolute;
    top: 0;
    width: 100%
}

.t-carousel__inner > .next {
    left: 100%
}

.t-carousel__inner > .prev {
    left: -100%
}

.t-carousel__inner > .next.left, .t-carousel__inner > .prev.right {
    left: 0
}

.t-carousel__inner > .active.left {
    left: -100%
}

.t-carousel__inner > .active.right {
    left: 100%
}

.t-carousel__arrows__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    pointer-events: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=', sizingMethod='scale');
    background: none !important
}

.t-carousel__arrow_outsidesmall .t-carousel__arrow__wrapper_left {
    left: 16px
}

.t-carousel__arrow_outsidesmall .t-carousel__arrow__wrapper_right {
    right: 16px
}

.t-carousel__arrow_outsidemiddle .t-carousel__arrow__wrapper_left {
    left: 20px
}

.t-carousel__arrow_outsidemiddle .t-carousel__arrow__wrapper_right {
    right: 20px
}

.t-carousel__control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    pointer-events: auto
}

.t-carousel__control:hover {
    opacity: .6
}

.t-carousel__arrow {
    width: 34px;
    height: 34px;
    background: transparent;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.t-carousel__arrow.t-carousel__arrow_small {
    width: 20px;
    height: 20px
}

.t-carousel__arrow.t-carousel__arrow_large {
    width: 54px;
    height: 54px
}

.t-carousel__arrow__wrapper {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%
}

.t-carousel__arrow__wrapper_left {
    left: 30px
}

.t-carousel__arrow__wrapper_right {
    right: 30px
}

.t-carousel__arrow_right {
    border-top: 3px solid;
    border-right: 3px solid
}

.t-carousel__arrow_right.t-carousel__arrow_light {
    border-top: 1px solid;
    border-right: 1px solid
}

.t-carousel__arrow_right.t-carousel__arrow_bold {
    border-top: 6px solid;
    border-right: 6px solid
}

.t-carousel__arrow_left {
    border-left: 3px solid;
    border-bottom: 3px solid
}

.t-carousel__arrow_left.t-carousel__arrow_light {
    border-left: 1px solid;
    border-bottom: 1px solid
}

.t-carousel__arrow_left.t-carousel__arrow_bold {
    border-left: 6px solid;
    border-bottom: 6px solid
}

.t-carousel__control.right {
    right: 0;
    left: auto
}

@media screen and (max-width: 768px) {
    .t-carousel__control .t-carousel__arrow {
        width: 12px;
        height: 12px
    }

    .t-carousel-control {
        width: 10%
    }

    .t-carousel__arrow__left {
        left: 15px
    }

    .t-carousel__arrow__right {
        right: 15px
    }
}

.t-carousel__indicators.carousel-indicators {
    z-index: 15;
    text-align: center;
    list-style: none;
    position: relative;
    padding-left: 0 !important;
    margin: 0 auto;
    padding: 20px 0;
    bottom: auto;
    left: auto
}

.t-carousel__indicators.t-carousel__indicators_light {
    padding: 15px 0 18px
}

.t-carousel__indicators.t-carousel__indicators_bold {
    padding: 24px 0 21px
}

.t-carousel__indicators .t-carousel__indicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #222;
    border: none;
    border-radius: 10px;
    opacity: .4;
    -webkit-transition: .2s ease-in-out opacity;
    -moz-transition: .2s ease-in-out opacity;
    -o-transition: .2s ease-in-out opacity;
    transition: .2s ease-in-out opacity
}

@media screen and (max-width: 640px) {
    .t-carousel__indicators.carousel-indicators, .t-carousel__indicators.t-carousel__indicators_light, .t-carousel__indicators.t-carousel__indicators_bold {
        padding: 15px 0
    }
}

.t-carousel__indicators.t-carousel__indicators_light .t-carousel__indicator {
    width: 4px;
    height: 4px;
    margin: 0 5px
}

.t-carousel__indicators.t-carousel__indicators_bold .t-carousel__indicator {
    width: 10px;
    height: 10px;
    margin: 0 6px
}

.t-carousel__indicators .t-carousel__indicator:hover {
    opacity: .8
}

.t-carousel__indicators .t-carousel__indicator.active {
    opacity: 1
}

.t-carousel__indicators.t-carousel__indicators_inside {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.t-carousel__caption-inside {
    display: none
}

.t-carousel__caption_wrapper {
    border-top: 1px solid #eee;
    padding: 14px 0
}

.t-carousel__descr {
    margin-top: 5px;
    color: #777
}

.t-mbfix {
    opacity: .01;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    width: 100%;
    height: 500px;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10000;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease
}

.t-mbfix_hide {
    -webkit-transform: translateX(3000px);
    -ms-transform: translateX(3000px);
    transform: translateX(3000px)
}

.r_anim {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s
}

.r_hidden {
    opacity: 0
}

.r_showed {
    opacity: 1
}

img:not([src]) {
    visibility: hidden
}

.t-rec_pt_0 {
    padding-top: 0
}

.t-rec_pt_15 {
    padding-top: 15px
}

.t-rec_pt_30 {
    padding-top: 30px
}

.t-rec_pt_45 {
    padding-top: 45px
}

.t-rec_pt_60 {
    padding-top: 60px
}

.t-rec_pt_75 {
    padding-top: 75px
}

.t-rec_pt_90 {
    padding-top: 90px
}

.t-rec_pt_105 {
    padding-top: 105px
}

.t-rec_pt_120 {
    padding-top: 120px
}

.t-rec_pt_135 {
    padding-top: 135px
}

.t-rec_pt_150 {
    padding-top: 150px
}

.t-rec_pt_165 {
    padding-top: 165px
}

.t-rec_pt_180 {
    padding-top: 180px
}

.t-rec_pt_195 {
    padding-top: 195px
}

.t-rec_pt_210 {
    padding-top: 210px
}

.t-rec_pb_0 {
    padding-bottom: 0
}

.t-rec_pb_15 {
    padding-bottom: 15px
}

.t-rec_pb_30 {
    padding-bottom: 30px
}

.t-rec_pb_45 {
    padding-bottom: 45px
}

.t-rec_pb_60 {
    padding-bottom: 60px
}

.t-rec_pb_75 {
    padding-bottom: 75px
}

.t-rec_pb_90 {
    padding-bottom: 90px
}

.t-rec_pb_105 {
    padding-bottom: 105px
}

.t-rec_pb_120 {
    padding-bottom: 120px
}

.t-rec_pb_135 {
    padding-bottom: 135px
}

.t-rec_pb_150 {
    padding-bottom: 150px
}

.t-rec_pb_165 {
    padding-bottom: 165px
}

.t-rec_pb_180 {
    padding-bottom: 180px
}

.t-rec_pb_195 {
    padding-bottom: 195px
}

.t-rec_pb_210 {
    padding-bottom: 210px
}

@media screen and (max-width: 480px) {
    .t-rec_pt_0 {
        padding-top: 0
    }

    .t-rec_pt_15 {
        padding-top: 15px
    }

    .t-rec_pt_30 {
        padding-top: 30px
    }

    .t-rec_pt_45 {
        padding-top: 45px
    }

    .t-rec_pt_60 {
        padding-top: 60px
    }

    .t-rec_pt_75 {
        padding-top: 75px
    }

    .t-rec_pt_90 {
        padding-top: 90px
    }

    .t-rec_pt_105 {
        padding-top: 90px
    }

    .t-rec_pt_120 {
        padding-top: 90px !important
    }

    .t-rec_pt_135 {
        padding-top: 90px !important
    }

    .t-rec_pt_150 {
        padding-top: 90px !important
    }

    .t-rec_pt_165 {
        padding-top: 90px !important
    }

    .t-rec_pt_180 {
        padding-top: 120px !important
    }

    .t-rec_pt_195 {
        padding-top: 120px !important
    }

    .t-rec_pt_210 {
        padding-top: 120px !important
    }

    .t-rec_pb_0 {
        padding-bottom: 0
    }

    .t-rec_pb_15 {
        padding-bottom: 15px
    }

    .t-rec_pb_30 {
        padding-bottom: 30px
    }

    .t-rec_pb_45 {
        padding-bottom: 45px
    }

    .t-rec_pb_60 {
        padding-bottom: 60px
    }

    .t-rec_pb_75 {
        padding-bottom: 75px
    }

    .t-rec_pb_90 {
        padding-bottom: 90px
    }

    .t-rec_pb_105 {
        padding-bottom: 90px
    }

    .t-rec_pb_120 {
        padding-bottom: 90px !important
    }

    .t-rec_pb_135 {
        padding-bottom: 90px !important
    }

    .t-rec_pb_150 {
        padding-bottom: 90px !important
    }

    .t-rec_pb_165 {
        padding-bottom: 90px !important
    }

    .t-rec_pb_180 {
        padding-bottom: 120px !important
    }

    .t-rec_pb_195 {
        padding-bottom: 120px !important
    }

    .t-rec_pb_210 {
        padding-bottom: 120px !important
    }
}

@media screen and (max-width: 480px) {
    .t-rec_pt-res-480_0 {
        padding-top: 0 !important
    }

    .t-rec_pt-res-480_15 {
        padding-top: 15px !important
    }

    .t-rec_pt-res-480_30 {
        padding-top: 30px !important
    }

    .t-rec_pt-res-480_45 {
        padding-top: 45px !important
    }

    .t-rec_pt-res-480_60 {
        padding-top: 60px !important
    }

    .t-rec_pt-res-480_75 {
        padding-top: 75px !important
    }

    .t-rec_pt-res-480_90 {
        padding-top: 90px !important
    }

    .t-rec_pt-res-480_105 {
        padding-top: 105px !important
    }

    .t-rec_pt-res-480_120 {
        padding-top: 120px !important
    }

    .t-rec_pt-res-480_135 {
        padding-top: 135px !important
    }

    .t-rec_pt-res-480_150 {
        padding-top: 150px !important
    }

    .t-rec_pt-res-480_165 {
        padding-top: 165px !important
    }

    .t-rec_pt-res-480_180 {
        padding-top: 180px !important
    }

    .t-rec_pt-res-480_195 {
        padding-top: 195px !important
    }

    .t-rec_pt-res-480_210 {
        padding-top: 210px !important
    }

    .t-rec_pb-res-480_0 {
        padding-bottom: 0 !important
    }

    .t-rec_pb-res-480_15 {
        padding-bottom: 15px !important
    }

    .t-rec_pb-res-480_30 {
        padding-bottom: 30px !important
    }

    .t-rec_pb-res-480_45 {
        padding-bottom: 45px !important
    }

    .t-rec_pb-res-480_60 {
        padding-bottom: 60px !important
    }

    .t-rec_pb-res-480_75 {
        padding-bottom: 75px !important
    }

    .t-rec_pb-res-480_90 {
        padding-bottom: 90px !important
    }

    .t-rec_pb-res-480_105 {
        padding-bottom: 105px !important
    }

    .t-rec_pb-res-480_120 {
        padding-bottom: 120px !important
    }

    .t-rec_pb-res-480_135 {
        padding-bottom: 135px !important
    }

    .t-rec_pb-res-480_150 {
        padding-bottom: 150px !important
    }

    .t-rec_pb-res-480_165 {
        padding-bottom: 165px !important
    }

    .t-rec_pb-res-480_180 {
        padding-bottom: 180px !important
    }

    .t-rec_pb-res-480_195 {
        padding-bottom: 195px !important
    }

    .t-rec_pb-res-480_210 {
        padding-bottom: 210px !important
    }
}

.t-body_scroll-locked {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

@font-face {
    font-family: 'AFuturaRoundBold';
    src: url('../fonts/AFuturaRoundBold.woff') format('woff');
    font-weight: 700;
    font-style: bold
}

.t107 {
    text-align: center
}

.t107__width {
    vertical-align: middle
}

.t107__widthauto {
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto
}

.t107__title {
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 14px;
    line-height: 28px
}

.t046__text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 4px
}

.t056__title {
    padding-top: 8px;
    padding-bottom: 9px
}

.t056__descr {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    padding-top: 22px;
    padding-bottom: 5px
}

.t148__title {
    color: #fff;
    padding-top: 28px;
    padding-bottom: 28px;
    max-width: 480px;
    width: 100%;
    margin-left: 50px;
    text-align: left;
    margin-bottom: 40px
}

@media screen and (max-width: 640px) {
    .t148__title {
        width: 90%;
        margin-left: 20px;
        margin-bottom: 20px
    }
}

.t270__error-msg {
    text-align: center;
    display: none
}

.t270__error-msg-text {
    display: inline-block;
    margin: 0 20px 35px 20px;
    padding: 15px;
    color: red;
    border: 1px solid red;
    font-size: 14px;
    font-family: tfutura, Arial
}

.t186C .t-section__topwrapper {
    margin-bottom: 75px
}

.t186C .t-section__title {
    margin-bottom: 30px
}

.t186C .t-section__descr {
    max-width: 560px;
    margin: 0 auto
}

.t186C__blockinput {
    display: block;
    vertical-align: middle;
    height: 100%;
    padding-right: 0;
    margin-bottom: 25px
}

.t186C__blockinput textarea {
    padding-top: 17px
}

.t186C__blocktitle {
    display: block;
    vertical-align: middle;
    height: 100%;
    padding-right: 0;
    padding-bottom: 5px
}

.t186C__blockbutton {
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin-bottom: 10px
}

.t186C__nomargin .t186C__blocktitle {
    padding-bottom: 0;
    margin-bottom: 0
}

.t186C__nomargin .t186C__blockinput {
    margin-bottom: 35px
}

.t186C__form-bottom-text {
    margin-top: 30px;
    text-align: center
}

@media screen and (max-width: 640px) {
    .t186C__wrapper {
        display: block
    }

    .t186C__blockbutton {
        display: block;
        width: 100%;
        padding-bottom: 20px;
        text-align: center
    }

    .t186C__blockinput textarea {
        padding-top: 5px
    }

    .t186C__blockinput {
        padding-right: 0
    }

    .t186C .t-submit {
        width: 100%
    }
}

.t186C__blockinput-errors {
    background: #f66 none repeat scroll 0 0
}

.js-error-control-box .t186C__input {
    border: 1px solid red !important
}

.t186C__blockinput-errors-text {
    color: #ff7;
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    font-family: 'AFuturaRoundBold', serif
}

.t186C__blockinput-errors-item {
    padding-top: 10px;
    display: none;
    font-family: 'AFuturaRoundBold', serif
}

.t186C__blockinput-errorbox {
    background: #f66 none repeat scroll 0 0;
    color: #ff7;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'AFuturaRoundBold', serif
}

.t186C__blockinput-success {
    text-align: center;
    background: #FFF;
    color: #222;
    padding: 20px;
    border: 2px solid #2D2;
    margin-bottom: 20px;
    font-family: 'AFuturaRoundBold', serif
}

.t186C__wrapper {
    -webkit-transition: max-height 0.3s cubic-bezier(.19, 1, .22, 1);
    transition: max-height 0.3s cubic-bezier(.19, 1, .22, 1);
    max-height: 2000px
}

.t186C__wrapper_hidden.t186C__wrapper {
    overflow: hidden;
    max-height: 0;
    opacity: 0
}

.t396__iframe {
    z-index: 10000;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border: 0
}

.t396__body_overflow_hidden {
    overflow: hidden
}

.t396__display_none {
    display: none
}

.t396__artboard {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.t396__artboard.rendering .tn-elem {
    visibility: hidden
}

.t396__artboard.rendered .tn-elem {
    visibility: visible
}

.t396__carrier {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh
}

.t396__filter {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh
}

.t396__elem {
    position: absolute;
    box-sizing: border-box;
    display: table
}

.t396 .tn-atom {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

.t396 a.tn-atom {
    text-decoration: none
}

.t396 .tn-atom__img {
    width: 100%;
    display: block
}

.t396 .tn-atom__html {
    vertical-align: top
}

.t396 .tn-atom__pin {
    border-radius: 1000px;
    border-style: solid
}

.t396 .tn-atom__pin_onclick {
    cursor: pointer
}

.t396 .tn-atom__tip {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    max-width: 90vw;
    padding: 15px;
    display: none
}

.t396 .tn-atom__pin:hover .tn-atom__tip {
    display: none
}

.t396 .tn-atom__tip-img {
    width: 100%;
    display: block;
    margin-bottom: 10px
}

.t396 .tn-atom__tip[data-tip-pos=top] {
    bottom: 100%;
    margin-bottom: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.t396 .tn-atom__tip[data-tip-pos=bottom] {
    top: 100%;
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.t396 .tn-atom__tip[data-tip-pos=left] {
    right: 100%;
    margin-right: 15px;
    top: 50%;
    transform: translateY(-50%)
}

.t396 .tn-atom__tip[data-tip-pos=right] {
    left: 100%;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%)
}

.t396__ui {
    position: absolute;
    top: 16px;
    left: 196px;
    background-color: #fa876b;
    color: #000 !important;
    height: 30px;
    line-height: 30px;
    width: 100px;
    z-index: 1000;
    text-align: center;
    border-radius: 3px;
    display: none;
    font-size: 14px
}

.uploadcare-dialog.uploadcare-active {
    z-index: 9999999
}

.t706_previewmode {
    padding: 0 0 50px 0
}

.t706_previewmode .t706__carticon {
    position: initial;
    display: table;
    margin: 0 auto
}

.t706__carticon {
    display: none;
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 4000
}

.t706__carticon_showed {
    display: block
}

.t706__carticon_neworder .t706__carticon-text {
    opacity: .9;
    cursor: pointer;
    pointer-events: initial
}

@media screen and (min-width: 960px) {
    .t706__carticon:hover .t706__carticon-text {
        opacity: 1 !important;
        cursor: pointer;
        pointer-events: initial
    }

    .t706__carticon-imgwrap:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

.t706__carticon-text {
    position: absolute;
    -webkit-transform: translateX(0%) translateY(-50%);
    transform: translateX(0%) translateY(-50%);
    top: 50%;
    right: 130%;
    white-space: nowrap;
    background: #292929;
    color: #fff;
    font-size: 15px;
    box-sizing: border-box;
    padding: 9px 13px;
    border-radius: 3px;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    opacity: 0;
    pointer-events: none
}

.t706__carticon-text:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    border-left-color: #292929
}

.t706__carticon_neworder .t706__carticon-imgwrap {
    -webkit-animation: t706__pulse-anim 0.7s;
    animation: t706__pulse-anim 0.6s
}

@-webkit-keyframes t706__pulse-anim {
    0% {
        -webkit-transform: scale(1)
    }
    60% {
        -webkit-transform: scale(1.25)
    }
    100% {
        -webkit-transform: scale(1)
    }
}

@keyframes t706__pulse-anim {
    0% {
        transform: scale(1)
    }
    60% {
        transform: scale(1.25)
    }
    100% {
        transform: scale(1)
    }
}

.t706__carticon-wrapper {
    position: relative
}

.t706__carticon-imgwrap {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    will-change: transform;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out
}

.t706__carticon-img {
    width: 40px;
    height: 40px;
    padding: 18px 20px 22px;
    stroke: #000
}

.t706__carticon-counter {
    width: 30px;
    height: 30px;
    background-color: red;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    text-align: center;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif
}

.t706__carticon_sm .t706__carticon-imgwrap {
    width: 60px;
    height: 60px
}

.t706__carticon_sm .t706__carticon-counter {
    right: -6px;
    bottom: -6px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px
}

.t706__carticon_sm .t706__carticon-img {
    width: 34px;
    height: 34px;
    padding: 12px 13px 14px
}

.t706__carticon_lg .t706__carticon-imgwrap {
    height: 100px;
    width: 100px
}

.t706__carticon_lg .t706__carticon-img {
    width: 50px;
    height: 50px;
    padding: 22px 25px 28px
}

.t706__cartwin {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    z-index: 4002;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto
}

.t706__cartwin_showed {
    display: block;
    z-index: 100000
}

.t706__body_cartwinshowed {
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    -webkit-overflow-scrolling: touch !important
}

.t706__cartwin-content {
    margin: 65px auto;
    width: 100%;
    max-width: 560px;
    min-height: 300px;
    background-color: #fff;
    padding: 40px;
    box-sizing: border-box
}

.t706__cartwin-close {
    position: fixed;
    right: 20px;
    top: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 1
}

.t706__cartwin-top {
    padding: 0 0 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.t706__cartwin-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, .2)
}

.t706__cartwin-products {
    display: table;
    width: 100%
}

.t706__product {
    display: table-row;
    width: 100%;
    height: 50px;
    vertical-align: middle
}

.t706__product-thumb {
    display: table-cell;
    width: 70px;
    height: 100px;
    padding-right: 20px;
    vertical-align: middle
}

.t706__product-imgdiv {
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 7px;
    background-color: #eee;
    background-position: center
}

.t706__product-title {
    display: table-cell;
    font-size: 16px;
    padding: 15px 0;
    font-weight: 600;
    vertical-align: middle;
    color: #000
}

.t706__product-plusminus {
    display: table-cell;
    width: 80px;
    padding: 15px 20px;
    padding-left: 10px;
    vertical-align: middle;
    color: #000
}

.t706__product-quantity {
    font-size: 16px;
    line-height: 16px;
    padding: 0 10px;
    color: #000
}

.t706__product-plus, .t706__product-minus {
    cursor: pointer;
    opacity: .4
}

.t706__product-amount {
    display: table-cell;
    width: 80px;
    font-size: 16px;
    padding: 15px 0;
    vertical-align: middle;
    color: #000
}

.t706__product-del {
    display: table-cell;
    width: 20px;
    padding: 15px 0 15px 15px;
    cursor: pointer;
    opacity: .4;
    vertical-align: middle
}

.t706__product:hover .t706__product-plus, .t706__product:hover .t706__product-minus, .t706__product:hover .t706__product-del {
    opacity: 1
}

.t706__cartwin-prodamount-wrap {
    padding-bottom: 20px;
    font-size: 16px;
    text-align: right;
    font-weight: 600;
    color: #000
}

.t706__cartwin-orderbtn {
    height: 50px;
    font-size: 16px;
    width: 100%
}

.t706__cartdata {
    display: none
}

.t706__cartwin-totalamount-wrap {
    padding-top: 15px;
    display: none;
    font-weight: 600;
    text-align: right
}

.t706__submit_disable {
    pointer-events: none;
    opacity: .5
}

@media screen and (max-width: 640px) {
    .t706__carticon {
        right: 10px
    }

    .t706__carticon-imgwrap, .t706__carticon_lg .t706__carticon-imgwrap {
        width: 60px;
        height: 60px
    }

    .t706__carticon-counter, .t706__carticon_lg .t706__carticon-counter {
        right: -6px;
        bottom: -6px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 14px
    }

    .t706__carticon-img, .t706__carticon_lg .t706__carticon-img {
        width: 34px;
        height: 34px;
        padding: 12px 13px 14px
    }

    .t706__product {
        display: table;
        position: relative;
        margin: 35px 0
    }

    .t706__product-thumb {
        height: auto;
        vertical-align: top
    }

    .t706__product-title {
        display: block;
        padding-top: 0;
        padding-bottom: 10px;
        padding-right: 30px;
        width: 100%;
        vertical-align: top;
        box-sizing: border-box
    }

    .t706__product-plusminus, .t706__product-amount {
        width: auto;
        display: inline-block;
        vertical-align: bottom;
        padding: 0 20px 0 0
    }

    .t706__product-del {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        padding: 0
    }
}

@media screen and (max-width: 560px) {
    .t706__cartwin-content {
        margin: 0 auto;
        margin-top: 50px;
        min-height: 100vh;
        min-height: calc(100% - 50px)
    }

    .t706__cartwin-close {
        background-color: #000;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        display: table;
        height: 50px
    }

    .t706__cartwin-close-wrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        width: 100%;
        padding-right: 20px;
        font-size: 0
    }

    .t706__cartwin-close-icon {
        width: 16px
    }
}

.t706__orderform {
    margin-top: 20px;
    margin-bottom: 20px
}

.t706 .t-form .t-descr_md {
    font-size: 16px
}

.t706 .t-form .t-input {
    height: 55px
}

.t706 .t-input-group {
    margin-bottom: 20px
}

.t706 .t-input-block textarea {
    padding-top: 17px;
    transform: translateZ(0)
}

.t706 .t-input-title {
    padding-bottom: 5px
}

.t706 .t-input-subtitle {
    padding-bottom: 15px
}

.t706 .t-input-group_rd .t-input-subtitle {
    padding-bottom: 5px
}

.t706 .t-inputtime, .t706 .t-datepicker__wrapper {
    max-width: 245px
}

.t706 .t-form__submit {
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%
}

.t706 .t-submit {
    width: 100%
}

.t706 .t-form_bbonly .t-input-title {
    padding-bottom: 0;
    margin-bottom: 0
}

.t706 .t-form_bbonly .t-input-subtitle {
    padding-bottom: 0;
    padding-top: 5px
}

.t706 .t-form_bbonly .t-input-block {
    margin-bottom: 35px
}

.t706__form-bottom-text {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px
}

.t706__form-upper-text {
    padding-top: 30px;
    padding-bottom: 10px
}

.t706 .t-form__successbox {
    padding-top: 70px;
    padding-bottom: 70px
}

@media screen and (max-width: 640px) {
    .t706 .t-form__submit {
        display: block;
        width: 100%;
        padding-bottom: 20px;
        text-align: center
    }

    .t706 .t-input-block textarea {
        padding-top: 5px
    }

    .t706 .t-input-block {
        padding-right: 0
    }

    .t706 .t-submit {
        width: 100%
    }
}

@media screen and (max-width: 480px) {
    .t706 .t-inputtime, .t706 .t-datepicker__wrapper {
        max-width: 100%
    }

    .t706__orderform {
        margin-bottom: 40px
    }

    .t706__cartwin-content {
        padding: 20px
    }
}

.t776__separator {
    margin-bottom: 90px
}

.t776__imgwrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 67%
}

.t776__bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear
}

.t776__img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear
}

.t776__bgimg_second, .t776__img_second {
    z-index: 1;
    opacity: 0
}

.t776__markwrapper {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 5;
    display: table
}

.t776__mark {
    font-weight: 400;
    font-size: 12px;
    font-family: 'AFuturaRoundBold', sans-serif;
    display: table-cell;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    background-color: #111;
    color: #fff;
    box-sizing: border-box;
    padding: 0 10px
}

.t776__uptitle {
    margin-bottom: 8px;
    color: #ff8562
}

.t776__descr {
    margin-top: 8px
}

.t776__price-wrapper {
    margin-top: 12px
}

.t776__price-item {
    display: inline-block;
    vertical-align: middle
}

.t776__price-value, .t776__price-currency {
    display: inline-block;
    vertical-align: middle;
    float: left
}

.t776__price-value + .t776__price-currency:before {
    content: '\a0'
}

.t776__price_old {
    position: relative;
    color: #bdbdbd
}

.t776__price_old:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1px;
    left: -1px;
    border-top: 1px solid;
    width: 100%
}

.t776__btn-wrapper {
    margin-top: 19px
}

.t776__btn {
    display: inline-block
}

.t-align_center .t776__btn {
    margin: 0 2px 8px
}

.t-align_left .t776__btn {
    margin: 0 4px 8px 0
}

.t776__scroll-icon-wrapper {
    display: none
}

.t776 .t-popup {
    padding: 0
}

.t776 .t-popup__container {
    max-width: 1240px;
    right: 0;
    left: 0
}

.t776__container {
    padding: 40px 20px
}

.t776__container:after {
    content: '';
    display: block;
    height: 0;
    clear: both
}

.t776 .t-popup__close {
    z-index: 999
}

.t776__close-text-wrapper {
    z-index: 999;
    position: fixed;
    left: 20px;
    top: 20px
}

.t776__close-text {
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
    opacity: .8;
    font-weight: 400
}

.t776__close-text:before {
    content: "←\a0";
    font-family: Arial, Helvetica, sans-serif
}

@media screen and (max-width: 1240px) {
    .t776 .t-popup__container {
        max-width: 1200px
    }

    .t776__container {
        padding: 30px 10px
    }

    .t776__col_left {
        margin-right: 10px
    }

    .t776__col_right {
        margin-left: 10px
    }
}

@media screen and (max-width: 1200px) {
    .t776 .t-popup__container {
        max-width: 1000px
    }

    .t776__container {
        padding: 30px 20px
    }
}

@media screen and (max-width: 1000px) {
    .t776 .t-popup__container {
        max-width: 980px
    }

    .t776__container {
        padding: 20px 10px
    }
}

@media screen and (max-width: 980px) {
    .t776 .t-popup {
        padding: 0 20px
    }

    .t776 .t-popup__container {
        max-width: 640px
    }

    .t776__container {
        padding: 30px
    }

    .t776__col_left, .t776__col_right {
        margin: 0;
        display: block;
        max-width: 100%
    }

    .t776__col_left {
        padding: 0
    }

    .t776__col_right {
        padding: 25px 0 0 0
    }
}

@media screen and (max-width: 670px) {
    .t776__btn {
        display: block;
        width: 100%
    }

    .t776__btn:last-child {
        margin-top: 10px
    }

    .t776 .t-popup__container {
        right: 20px;
        left: 20px
    }
}

@media screen and (max-width: 560px) {
    .t776 .t-popup_show .t-popup__container {
        max-width: 100%;
        right: 0;
        left: 0;
        top: 50px;
        bottom: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    .t776 .t-popup_show .t-popup__container.t-popup__container-static {
        max-width: 100%;
        min-height: 100vh;
        top: 0;
        margin: 50px 0 0
    }

    .t776 .t-popup {
        padding: 0
    }

    .t776 .t-popup__close {
        width: 100%;
        height: 50px;
        background: #000;
        position: fixed;
        display: table;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0
    }

    .t776 .t-popup__close-wrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        width: 100%;
        padding-right: 20px;
        font-size: 0
    }

    .t776 .t-popup__close-icon {
        width: 16px
    }

    .t776 .t-popup__close-icon g {
        fill: #fff
    }

    .t776__close-text-wrapper {
        display: none
    }

    .t776__container {
        padding: 20px
    }

    .t776__col_right {
        padding-top: 30px
    }
}

.t-popup .t776__title-wrapper {
    margin-bottom: 18px
}

.t-popup .t776__title_small {
    margin-top: 4px;
    color: #777
}

.t-popup .t776__descr {
    margin-top: 20px
}

.t-popup .t776__price-wrapper {
    margin-top: 0
}

.t-popup .t776__btn-wrapper {
    margin-top: 20px;
    margin-bottom: 30px
}

.t-popup .t776__btn {
    margin-bottom: 0
}

.t776 .t-product__option {
    margin-top: 10px;
    margin-bottom: 10px
}

.t776 .t-product__option-title {
    padding-bottom: 3px
}

.t776 .t-product__option-variants {
    position: relative;
    display: table;
    min-width: 150px
}

.t776 .t-product__option-variants:after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    pointer-events: none
}

.t776 .t-product__option-select {
    width: 100%;
    border: 1px #ddd solid;
    background: #f8f8f8;
    color: #000;
    box-sizing: border-box;
    cursor: pointer;
    padding: 2px 30px 2px 10px;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none
}

.t776 .t-product__option-select::-ms-expand {
    width: 0;
    height: 0;
    opacity: 0
}

@media screen and (max-width: 640px) {
    .t776 .t-product__option-select {
        font-size: 16px
    }
}

.t776 .t-slds__wrapper {
    padding: 0 !important
}

.t776 .t-slds__arrow_wrapper {
    height: auto !important
}

@media screen and (min-width: 960px) {
    .t776__imgwrapper:hover .t776__bgimg_first_hover, .t776__imgwrapper:hover .t776__img_first_hover {
        opacity: 0
    }

    .t776__imgwrapper:hover .t776__bgimg_second, .t776__imgwrapper:hover .t776__img_second {
        z-index: 3;
        opacity: 1
    }
}

@media screen and (max-width: 960px) {
    .t776__separator {
        display: none
    }

    .t776__container_mobile-grid {
        font-size: 0
    }

    .t776__col_mobile-grid {
        width: 50%;
        display: inline-block;
        vertical-align: top
    }

    .t776__col {
        margin-bottom: 60px
    }

    .t-col_8 .t776__imgwrapper_mobile-nopadding {
        padding-bottom: 0px !important;
        font-size: 0
    }

    .t-col_8 .t776__imgwrapper_mobile-nopadding .t776__img {
        position: initial
    }

    .t776__img_second {
        display: none
    }

    .t776__container_mobile-flex {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        max-width: 100%;
        box-sizing: border-box
    }

    .t776__container_mobile-flex .t776__col {
        min-width: 38%;
        max-width: 38%;
        margin-bottom: 0px !important
    }

    .t776__container_mobile-flex .t776__col:first-child {
        margin-left: 20px
    }

    .t776__scroll-icon-wrapper {
        display: block;
        padding: 0 40px 20px 0;
        color: #a1a1a1;
        text-align: right;
        font-size: 0
    }

    @-webkit-keyframes t776__icon-anim {
        0% {
            -webkit-transform: translate3d(-20px, 0, 0);
            opacity: 0
        }
        10% {
            -webkit-transform: translate3d(-20px, 0, 0);
            opacity: 0
        }
        20% {
            -webkit-transform: translate3d(-20px, 0, 0);
            opacity: 1
        }
        70% {
            -webkit-transform: translate3d(0, 0, 0);
            opacity: 1
        }
        80% {
            -webkit-transform: translate3d(0, 0, 0);
            opacity: 1
        }
        81% {
            -webkit-transform: translate3d(0, 0, 0);
            opacity: 0
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            opacity: 0
        }
    }@keyframes t776__icon-anim {
         0% {
             transform: translate3d(-20px, 0, 0);
             opacity: 0
         }
         10% {
             transform: translate3d(-20px, 0, 0);
             opacity: 0
         }
         20% {
             transform: translate3d(-20px, 0, 0);
             opacity: 1
         }
         70% {
             transform: translate3d(0, 0, 0);
             opacity: 1
         }
         80% {
             transform: translate3d(0, 0, 0);
             opacity: 1
         }
         81% {
             transform: translate3d(0, 0, 0);
             opacity: 0
         }
         100% {
             transform: translate3d(0, 0, 0);
             opacity: 0
         }
     }.t776__scroll-icon {
          -webkit-animation: t776__icon-anim 1.5s infinite;
          animation: t776__icon-anim 1.5s infinite
      }
}

@media screen and (max-width: 640px) {
    .t776__container_mobile-grid {
        padding: 0 10px;
        box-sizing: border-box
    }

    .t776__col_mobile-grid {
        padding-left: 10px;
        padding-right: 10px
    }

    .t776__container_mobile-flex .t776__col:first-child {
        margin-left: 0
    }

    .t776__container_mobile-flex .t776__col {
        min-width: 70%;
        max-width: 70%
    }

    .t776__scroll-icon-wrapper {
        padding: 0 20px 10px 0
    }
}

@media screen and (max-width: 480px) {
    .t776__imgwrapper_mobile-nopadding {
        padding-bottom: 0px !important;
        font-size: 0
    }

    .t776__imgwrapper_mobile-nopadding .t776__img {
        position: initial
    }

    .t776__col_mobile-grid {
        width: 100%;
        display: block
    }

    .t776__container_mobile-flex .t776__col {
        min-width: 80%;
        max-width: 80%
    }
}