.basket {
  display: block;
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 1001;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;

  @media screen and (max-width: 599px) {
    right: 10px;
  }

  &:hover {

    & .basket__total {
      opacity: 1;
    }

    & .basket__wrap-img {
      transform: scale(1.2);
    }
  }

  &__total {
    position: absolute;
    top: 50%;
    right: 130%;
    transform: translateX(0%) translateY(-50%);
    white-space: nowrap;
    background: #292929;
    color: #fff;
    font-size: 15px;
    box-sizing: border-box;
    padding: 9px 13px;
    border-radius: 3px;
    transition: opacity 0.3s linear;
    opacity: 0;
    pointer-events: none;
    line-height: 1.35;
    font-family: 'AFuturaRoundBold',sans-serif;
    font-weight: 600;
    margin: 0;
    border: 0;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: 10px;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      border-left-color: #292929;
      box-sizing: content-box;
    }
  }

  &__wrapper {
    position: relative;
    box-sizing: content-box;
  }

  &__wrap-img {
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transform: scale(1);
    will-change: transform;
    transition: transform 0.2s ease-in-out;
  }

  &__img {
    width: 50px;
    height: 50px;
    padding: 22px 25px 28px;
    cursor: pointer;
    box-sizing: content-box;
  }

  &__caunter {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    right: -3px;
    bottom: -3px;
    text-align: center;
    line-height: 30px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #5d218b;
    color: #ffffff;
  }
}