.form-order__wrapper {
  padding: 0 36px;
  box-sizing: border-box;

  @media screen and (max-width: 599px) {
    padding: 0 15px;
  }
}

.form-order-card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(183,150,65,.3);
  box-sizing: border-box;

  &__item {
    border-bottom: 1px solid rgba(183,150,65,.3);
    box-sizing: border-box;
  }
}

.form-order-card {

  @media screen and (max-width: 599px) {
    text-align: center;
  }

  &__row {
    display: flex;
    height: 106px;
    align-items: center;
    padding: 8px 0;
    box-sizing: border-box;

    @media screen and (max-width: 599px) {
      display: inline-flex;
      flex-wrap: wrap;
      height: auto;
    }
  }

  &__price {
    display: block;
    width: 133px;
    padding: 0 12px;
    text-align: center;
    font-size: 16px;
    font-family: 'AFuturaRoundBold', sans-serif;
    color: #542585;
    box-sizing: border-box;

    @media screen and (max-width: 599px) {
      width: 152px;
      padding: 0 12px 0 25px;
    }
  }

  &__clear {
    display: block;
    width: 15px;
    padding: 10px;
    cursor: pointer;
    box-sizing: border-box;
  }
}

.form-order-card-left {
  display: flex;
  width: 259px;
  align-items: center;
  box-sizing: border-box;

  @media screen and (max-width: 599px) {
    width: 100%;
    justify-content: center;
    padding: 0 0 10px;
  }

  &__title {
    flex-shrink: 0;
    width: 164px;
    padding: 0 12px;
    box-sizing: border-box;
  }

  &__title-text {
    font-size: 16px;
    font-family: 'AFuturaRoundBold', sans-serif;
    color: #542585;
    box-sizing: border-box;
  }

  &__wrap-img {
    flex-shrink: 0;
    width: 95px;
    padding: 0 8px 0 0;
    box-sizing: border-box;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }
}

.form-order-card-right {
  display: flex;
  width: 229px;
  align-items: center;
  box-sizing: border-box;

  @media screen and (max-width: 599px) {
    width: 100%;
    justify-content: center;
  }
}

.form-order-card-total {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
  box-sizing: border-box;

  &__sum {
    font-size: 16px;
    font-family: 'AFuturaRoundBold', sans-serif;
    color: #542585;
    box-sizing: border-box;
  }
}

.form-order-card-amount {
  position: relative;
  width: 70px;
  text-align: center;
  box-sizing: border-box;

  &__field {
    width: 30px;
    height: 20px;
    border: 0;
    background: transparent;
    background-image: none;
    font-size: 16px;
    font-family: 'AFuturaRoundBold', sans-serif;
    color: #542585;
    text-align: center;
    outline: none;
    vertical-align: bottom;
    padding: 0;
    box-sizing: border-box;
  }

  &__minus, &__plus {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    background: #542585;
    color: #fff;
    font-family: 'AFuturaRoundBold', sans-serif;
    box-sizing: border-box;

    @media screen and (min-width: 1260px) {
      cursor: pointer;
    }
  }

  &__minus {
    left: 0;
  }

  &__plus {
    right: 0;
  }
}

.form-order-bottom-wrap {
  padding: 14px 0;
  text-align: center;
  box-sizing: border-box;
}

.form-order-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 198px;
  background: #fff;
  background-image: none;
  font-size: 16px;
  font-family: 'AFuturaRoundBold', sans-serif;
  color: #542585;
  border: 0;
  transition: all .15s;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background: #ae92c4;
    color: #fff;
    box-sizing: border-box;
  }
}