.form-order-user-data {
  background: #542585;
  padding: 0 131px 24px;
  box-sizing: border-box;

  @media screen and (max-width: 599px) {
    padding: 0 15px 14px;
  }

  &__row {
    position: relative;
    height: 56px;
    margin: 0 0 17px;
    border-bottom: 1px solid #fff;
    padding: 26px 0 0;
    box-sizing: border-box;
  }

  &__field {
    position: relative;
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    background-image: none;
    font-size: 16px;
    font-family: 'AFuturaRoundBold', sans-serif;
    color: #fff;
    outline: none;
    vertical-align: bottom;
    padding: 0;
    z-index: 1;
    box-sizing: border-box;

    &:focus,&:active {
      outline: none;
    }

    &:focus + .form-order-user-data__label {
      top: 4px;
    }

    &:focus + .form-order-user-data__label .form-order-user-data__label-text {
      font-size: 12px;
    }
  }

  &__label {
    position: absolute;
    top: 26px;
    left: 0;
    display: block;
    z-index: 0;
    transition: all .2s;
    box-sizing: border-box;

    &_active {
      top: 4px;

      & .form-order-user-data__label-text {
        font-size: 12px;
      }
    }
  }
  
  &__label-text {
    color: #ae92c4;
    font-size: 16px;
    font-family: 'AFuturaRoundBold', sans-serif;
    box-sizing: border-box;
    margin: 0 10px 0 0;
  }

  &__error {
    color: #ff3f3f;
    font-size: 12px;
    font-family: 'AFuturaRoundBold', sans-serif;
    box-sizing: border-box;
  }
}