.popup {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  overflow-y: auto;
  padding: 60px 10px;

  &-enter &__substrate{
    opacity: 0;
  }

  &-enter-active &__substrate{
    opacity: 1;
    transition: 400ms;
  }

  &-enter &-content{
    opacity: 0;
  }

  &-enter-active &-content{
    opacity: 1;
    transition: 400ms 100ms;
  }

  &-enter &-content__wrap{
    opacity: 0;
  }

  &-exit-active &__substrate{
    opacity: 0;
    transition: 400ms 100ms;
  }
  &-exit-active &-content{
    opacity: 0;
    transition: 400ms;
  }

  &__substrate {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: 1;
  }

  &-content {
    position: relative;
    flex-shrink: 0;
    margin: auto;
    width: 560px;
    background: url("/assets/img/bg-popup.jpg") no-repeat;
    background-size: cover;
    box-sizing: border-box;
    z-index: 2;

    @media screen and (max-width: 599px) {
      width: 380px;
    }

    @media screen and (max-width: 400px) {
      width: 300px;
    }

    &_rules {
      height: 100%;
    }

    &__wrapper {
      padding: 0 15px 0 60px;
      box-sizing: border-box;
      height: 100%;
      overflow-y: auto;

      @media screen and (max-width: 599px) {
        padding: 0 5px 0 15px;
      }
    }

    &__hold {
      box-sizing: border-box;

      &_rules {
        height: calc(100% - 93px);
        padding: 0 0 30px;
      }
    }

    &__text {
      font-size: 14px;
      font-family: 'AFuturaRoundBold', sans-serif;
      color: #535353;
      text-indent: 35px;
      box-sizing: border-box;
      margin: 0 0 10px;

      @media screen and (max-width: 599px) {
        text-indent: 15px;
      }
    }
    
    &__link {
      text-decoration: underline;
      color: #69a8dc;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &-title {
    height: 94px;
    background: url("/assets/img/smear.png") no-repeat center top;
    background-position-y: -4px;
    box-sizing: border-box;

    @media screen and (max-width: 599px) {
      background-size: contain;
    }

    &__text {
      display: block;
      font-size: 24px;
      color: #fff;
      font-family: 'AFuturaRoundBold', sans-serif;
      text-align: center;
      padding: 11px 10px;
      box-sizing: border-box;

      @media screen and (max-width: 599px) {
        font-size: 20px;
      }

      @media screen and (max-width: 400px) {
        padding: 8px 10px;
      }
    }
  }

  &__close {
    position: fixed;
    right: 20px;
    top: 20px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    box-sizing: border-box;
  }
}

[data-open-popup="rule"], [data-open-popup="order"] {
  cursor: pointer;
}
